<p>
  <strong>Şema Adı:</strong>
  <%= @term.schema_name %>
</p>

<p>
  <strong>Tablo Adı:</strong>
  <%= @term.table_name %>
</p>

<p>
  <strong>Kolon Adı:</strong>
  <%= @term.column_name %>
</p>

<p>
  <strong>Açıklama:</strong>
  <%= @term.description %>
</p>
